:root {
    --gris: #e9ecef;
    --azul-marino: #4C739B;
}
.my-header{ 
    text-align: center;
    padding: 2em;
    background-color: var(--azul-marino);
}

.bg-gris{
    background-color: var(--gris);
}

.bg-azul{
    background-color: var(--azul-marino);
}

.footer{
    border-top: 1px solid;
    border-color: var(--gris);
    padding: 1em;
    margin-top: 1em;
}

.password {
    border: none;
    width: 100%;
    font-size: 1.2em;
    height: 2em;
    text-align: center;
}
.password:focus {
    outline: none
}

.pwd-row {
    background-color: white;
    border: 1.5px solid;
    border-color: var(--gris);
}

.pwd-icon {
    font-size: 1.7em;
    margin: auto;
    float: right;
}

.tabla-borde-gris {
    border: 1px solid var(--gris);
}

.icono-gris{
    color: var(--gris);
}

.icono-amarillo{
    color: rgb(238, 221, 65);
}

.icono-verde{
    color: rgb(33, 209, 33);
}

.icono-rojo{
    color: rgb(202, 29, 29);
}

.title {
    font-size: 1.5em;
}
@media only screen and (min-width: 420px) {
    .title {
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 540px) {
    .title {
        font-size: 2em;
    }
}
@media only screen and (min-width: 660px) {
    .title {
        font-size: 2.5em;
    }
}
@media only screen and (min-width: 780px) {
    .title {
        font-size: 3em;
    }
}
@media only screen and (min-width: 900px) {
    .title {
        font-size: 3.5em;
    }
}
@media only screen and (min-width: 1080px) {
    .title {
        font-size: 4em;
    }
}

.disabled {
    opacity: 0.65;
}