:root {
    --gris: #e9ecef;
    --azul-marino: #4C739B;
}
.my-header{ 
    text-align: center;
    color: white;
    padding: 2em;
    background-color: var(--azul-marino);
}

.img-fluid{
    max-width: 100%;
    max-height: 100%;
}
@media only screen and (max-width: 920px) {
    .img-fluid {
        display: none;
    }
}


.btn-principal{
    color: white;
    background-color: var(--azul-marino);
    border-color: var(--azul-marino);
}

.btn-principal:hover{
    color: white;
    background-color: #375B80;
}
.bg-gris{
    background-color: var(--gris);
}

.bg-azul{
    background-color: var(--azul-marino);
}

.footer{
    border-top: 1px solid;
    border-color: var(--gris);
    padding: 1em;
    margin-top: 1em;
}

.password {
    border: none;
    width: 100%;
    font-size: 1.2em;
    height: 2em;
    text-align: center;
}
.password:focus {
    outline: none
}

.pwd-row {
    background-color: white;
    border: 1.5px solid;
    border-color: var(--gris);
}

.pwd-icon {
    font-size: 1.7em;
    margin: auto;
    float: right;
    cursor: pointer;
}

.tabla-borde-gris {
    border: 1px solid var(--gris);
}

.icono-gris{
    color: var(--gris);
}

.icono-amarillo{
    color: rgb(238, 221, 65);
}

.icono-verde{
    color: rgb(33, 209, 33);
}

.icono-rojo{
    color: rgb(202, 29, 29);
}


.title {
    font-size: 1.5em;
}
@media only screen and (min-width: 500px) {
    .title {
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 640px) {
    .title {
        font-size: 2em;
    }
}
@media only screen and (min-width: 780px) {
    .title {
        font-size: 2.5em;
    }
}
@media only screen and (min-width: 920px) {
    .title {
        font-size: 3em;
    }
}
@media only screen and (min-width: 1060px) {
    .title {
        font-size: 3.5em;
    }
}
@media only screen and (min-width: 1200px) {
    .title {
        font-size: 4em;
    }
}

.disabled {
    opacity: 0.65;
}

.oculto {
    display: none;
}