body{
    background-color: lightgrey;
}
.my-header{ 
    text-align: center;
    padding: 2em;
  }



.password {
    border: none;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}
.password:focus {
    outline: none
}

.pwd-row {
    background-color: white;
}

.pwd-icon {
    font-size: 2em;
    margin: auto;
    float: right;
}

@media only screen and (min-width: 640px) {
    .title {
        font-size: 2em;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1080px) {
    .title {
        font-size: 4em;
    }
}



.asd{
    border: solid 2px;
}